<style>
    .protocol {
        margin-top: 30px;
    }
</style>

<div class="container protocol">
    <div class="row">
        <div class="span12">
            <h2>
                <strong><span>招聘信息</span></strong>
            </h2>
            <br>
            <ul>
                <li>
                    招聘兼职摄影师
                </li>
            </ul>
            <p class="p3">
                <span class="s1">地点：北京</span>
            </p>
            <p class="p1">
                <span class="s1">要求：摄影水平达到相当水准，具有良好的审美情趣。可不定期参加风影网组织的拍摄活动。</span>
            </p>
            <br>
            <ul>
                <li>
                    <p>
                        <span>招聘兼职模特</span>
                    </p>
                </li>
            </ul>
            <p class="p3">
                <span class="s1">地点：北京</span>
            </p>
            <p class="p3">
                <span class="s1">​要求：五官端庄、身材良好、表现力强，有在时尚行业发展的强烈愿望。可不定期参加风影网组织的拍摄活动。</span>
            </p>
            <br>
            <ul>
                <li>
                    <p class="p3">
                        <span>联系人</span>
                    </p>
                </li>
            </ul>
            <p class="p3">
                <span class="s1">红叶：QQ:264406；微信号：yaojaa</span>
            </p>
            <p class="p3">
                <span class="s1">风影：QQ:1614445455；微信号：18501970377</span>
            </p>

        </div>
    </div>
</div>