<style>
  .m_container {
    background: #fff;
    padding: 20px
  }

  .price {
    color: #f60;
    font-size: 18px;
  }

  .u-width-100 {
    min-width: 100px;
  }
</style>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">主页</a><span class="divider"></span></li>
    <li class="active">个人中心</li>
  </ol>
  <div class="row">
    <div class="col-lg-2">
      <ul id="siderNav" class="nav  nav-stacked">
        <li class=""><i class="icon-chevron-right pull-right"></i> <a href="/uc/account">账号安全</a></li>
        <li class=""><i class="icon-chevron-right pull-right"></i><a href="/uc/recharge/recharge_form">账户充值</a></li>
        <li class=""><i class="icon-chevron-right pull-right"></i><a href="/uc/recharge/recharge_list">充值记录</a></li>
        <li class="active"><i class="icon-chevron-right pull-right"></i> <a href="/uc/user/usergroup_list">升级VIP</a>
        </li>
        <li class=""><i class="icon-chevron-right pull-right"></i> <a href="/uc/user/userporder_list">商品订单</a></li>
      </ul>
    </div>
    <div class="col-lg-10">
      <div class="m_container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-7">
                <h1>修改密码</h1>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">原密码: </label>

                <div class="col-sm-6">
                  <input type="password" class="form-control" id="oldPassword">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">新密码: </label>

                <div class="col-sm-6">
                  <input type="password" class="form-control" id="password">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">确认新密码: </label>

                <div class="col-sm-6">
                  <input type="password" class="form-control" id="password1">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-3 col-sm-offset-2">
                  <button class="btn btn-success u-width-100" type="button" id="submit">提交</button>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>

  $('#submit').on('click', function (e) {

  });

  var form = {
    _pass: true,
    submit: function (callback) {
      if (this._pass) {
        this._pass = false;
        this._pass = !callback();
      }
      return this;
    },
    recover: function () {
      this._pass = true;
      return this;
    }

  }
</script>
