<div class="container">
  <h1>文章正文</h1>

    <h4 class="list-group-item-heading">{{aticle.title}} <small>{{aticle.update_at}}</small></h4>
    <p class="list-group-item-text">{{aticle.content}}</p>

</div>


</div>
