
<style>

#aticleContent {
    background-color: #fff;
    padding: 50px;
    line-height: 1.6;
    box-shadow: 0 0 6px #ddd;
    max-width:960px;
    margin:10px auto 40px
}

#aticleContent p{
	margin: 1.2em;
	line-height: 1.6
}

#aticleContent img{
    max-width:100%
}
</style>

<div class="container">
<ol class="breadcrumb">
        <li><a href="/">主页</a><span class="divider"></span></li>
        
        <li class="active">正文</li>
        
      </ol>

    <div id="aticleContent">
    	    <h1 class="list-group-item-heading">{{aticle.title}} </h1>
<hr>
    	{{{aticle.content}}}</div>

</div>


</div>
