
  <style>
  #votelist li{

    margin: 10px;
    cursor:pointer;
    list-style-type:decimal;


  }
    #votelist li:hover{
      background: #f8f8f8
    }
  #votelist .on{
    color: green;
    font-weight: bold;
  }

 #votelist .on:before{
  content: '✔'
 }


  #votelist em{
    background: green;
    transition:all 0.8s ;
    display: inline-block;
    color: #fff;
    padding:2px 0 0 3px;
    width: 50px
  }


  #enterform{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    right:0;
    bottom: 0;
    background: #000;
    color: #fff;
    z-index: 99;
    text-align: center;
  }
  </style>
      <div class="container">
        <h2 aglin="center">{{title}}</h2>
        <br>


      <div class="form row" id="enterform">
        <br> <br> <br> <br>
        <h1 class="title">What's your name?</h1> <br> <br>

        <div style="padding:0 20%"><input name="usernameInput" class="form-control input-lg" id="username" maxlength="14" type="text" value="游客"></div>

         <br> <br> <br>

        <button id="enter" class="btn btn-success">Enter</button>
      </div>

  <div class="row">
    <div class="col-lg-9">

      <div class="panel panel-default">
  <div class="panel-heading">请投票： </div>
  <div class="panel-body">
     <ol id="votelist">
            {{#each users}}
            <li id="{{name}}">{{name}}: <em>{{score}}</em></li>
            {{/each}}
          </ol> 
  </div>
</div>


         

      
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
  <div class="panel-heading">在线列表 （<em id="number">0</em>）</div>
  <div class="panel-body">
      <ul id="userlist">
                
 </ul>
  </div>


      </div>
    </div>

</div>

          

         
        




        <ul id="messages"></ul>
    <form action="" >

      <div class="col-lg-6">
<div class="input-group input-group-lg">
      <input id="m"  type="text" class="form-control" placeholder="请输入文字...匿名哦">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">发送!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

    </form>

        </div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

 <script>

$('#header').remove();

var $userlist=$('#userlist')

  var socket = io();

  socket.on('connect',function(msg){

    console.log(msg);

  })

  socket.on('upmessagecome', function(data){

    setScore(data);


  });



  socket.on('messagecome',function(data){

    $('<h1>').text(data).appendTo($('body')).css({
      position:'absolute',
      top:'80%',
      opacity:0,
      width:'100%',
      textAlign:'center'
    }).animate({
      top:'30%',
      fontSize:50,
      opacity:1
    }).delay(500).fadeOut();


  })


  socket.on('login',function(data){
        $('#messages').append($('<li>').text(data.username+'登录了'));
  })

// Whenever the server emits 'user joined', log it in the chat body
  socket.on('user joined', function (data) {

     $userlist.html('');
    $.each(data.usernames,function(k,v){
             $userlist.append($('<li>').text(k));

    })

    $('#number').text(data.numUsers)

    //data.voteUsers
    //set score
    console.info('userjoined!')
    data.voteUsers.forEach(function(value,index){

      setScore(value)


    })


  });


  socket.on('user left', function (data) {
    console.log(data.username + ' left');


  });




  function adduser(){

    $('#enterform').fadeOut();

    var username=$.trim($('#username').val());

    if (username) {
      // $loginPage.fadeOut();
      // $chatPage.show();
      // $loginPage.off('click');
      // $currentInput = $inputMessage.focus();
      // Tell the server your username
      socket.emit('add user', username);
    }

  }

  function setScore(data){
      $('#'+data.name).find('em').text(data.score).css({
      width:data.score*10+'%'
    })
  }



  $('#enter').on('click',adduser)


  $('form').submit(function(){
    socket.emit('message', $('#m').val());
    $('#m').val('');
    return false;
  });


  $('#votelist').delegate('li','click',function(){

    $(this).toggleClass('on');

   var currentClass=  $(this).attr('class');

    if(currentClass==='on'){

        socket.emit('vote', this.id);

    }else{
         socket.emit('down', this.id);

    }



  })
</script>