
<div class="container">
  <h1>发文字</h1>

<form method="post" action="/create-aticle" class="form">
  <p><input class="form-control" type="text" name="title" placeholder="标题" /></p>
  <p>

  <div id="epiceditor">
  <textarea style="position:absolute;left:-100%" id="content" class="form-control" name="content" id="" cols="30" rows="1">
    请输入内容
  </textarea>
</div>
   </p>
   <br/>
      <br/>

  <p><button class="btn btn-success">发布</button>
  </p>
</form>

</div>

<script src="/vendor/epiceditor/js/epiceditor.js"></script>

<script>

var opt={
	  autogrow:true,
	  maxHeight:666
}
var editor = new EpicEditor(opt).load();
</script>