
<div class="container">
  <h1>发布视频</h1>

<form method="post" action="/create-video" class="form">
  <p><input class="form-control" type="text" name="title" placeholder="标题" /></p>
    <p><input class="form-control" type="text" name="duration" placeholder="时长" /></p>
  <p><input class="form-control" type="text" name="size" placeholder="大小" /></p>
  <p><textarea class="form-control" name="discrib" id="" cols="30" rows="10">简介</textarea> </p>
  <p><input class="form-control" type="text" name="cover_pic" placeholder="视频封面" /></p>
  <p><input class="form-control" type="text" name="url" placeholder="视频地址" /></p>
  <p><button class="btn btn-success" type="submit">发布</button>
  </p>
</form>

</div>
