
<div class="container">
  <h1>发文字</h1>

<form method="post" action="/create-aticle" class="form">
  <p><input class="form-control" type="text" name="title" placeholder="标题" /></p>
  <p><textarea class="form-control" name="content" id="" cols="30" rows="10">
    内容
  </textarea> </p>
  <p><button class="btn btn-success">发布</button>
  </p>
</form>

</div>
