<link rel="stylesheet" href="vendor/webuploader/webuploader.css">

<script src="vendor/webuploader/webuploader.js"></script>

<div class="container">

<ol class="breadcrumb">
        <li><a href="/">主页</a><span class="divider"></span></li>
        
        <li class="active">发布视频</li>
        
      </ol>
  <h1 align="center">发布视频</h1>
  <br>

  

<form method="post" action="/create-video" class="form-horizontal " >

     <input type="hidden" id="domain" value="{{Domain}}">
        <input type="hidden" id="uptoken_url" value="{{Uptoken_Url}}">


 
 <div class="form-group clearfix">
    <label class="col-sm-1 control-label">标题：</label>
		    <div class="col-sm-11">
		<input class="form-control input-lg" type="text" name="title" placeholder="标题" />    
		</div>
  </div>

   <div class="form-group clearfix">
    <label class="col-sm-1 control-label">时长：</label>
    <div class="col-sm-11">
<input class="form-control" type="text" name="duration" placeholder="时长" />    
       </div>
  </div>

   <div class="form-group">
    <label class="col-sm-1 control-label">简介：</label>
    <div class="col-sm-11">
<textarea class="form-control" name="discrib"  rows="3">简介</textarea>   </div>
  </div>

   <div class="form-group clearfix">
    <label class="col-sm-1 control-label">封面：</label>
    <div class="col-sm-11">
<input class="form-control" type="text" name="cover_url" id="cover_url" placeholder="粘贴远程图片地址" />

      <div class="wu-example">
        

<div id="uploader-cover">
    <!--用来存放item-->
    <div id="fileList" class="uploader-list"></div>
    <div id="picPicker">+选择图片</div>
</div>       </div>
      </div>

  </div>

  <div class="form-group">
    <label class="col-sm-1 control-label">地址：</label>
    <div class="col-sm-11">
<input class="form-control" type="text" name="video_url" id="video_url" placeholder="粘贴远程视频地址" />

<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="vlist" class="uploader-list"></div>
    <div class="btns">
        <div id="video-picker">+选择文件</div>
<!--         <button id="ctlBtn" class="btn btn-default" type="button">开始上传</button>
 -->    </div>
</div
   </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-1 control-label">类别：</label>
    <div class="col-sm-2">
      <select class="form-control" name="category">
   <option value="0"  >请选择</option>

  {{#each category}}
   <option value="{{name}}" >{{text}}</option>
  {{/each}}
</select>    </div>
  </div>


  <p align="center"><button class="btn btn-success btn-lg" type="submit">发布</button>
  </p>
</form>

</div>


<script>


var  uptoken_url= $('#uptoken_url').val();

var getToken=(function(){
  $.get(uptoken_url,function(res){
    initUploades(res.uptoken)
  })
})()


function initUploades (token){

  var formData={
    'token':token
  }

  var uploader = WebUploader.create({

    // 选完文件后，是否自动上传。
    auto: true,

    // swf文件路径
    swf: 'vendor/webuploador/Uploader.swf',

    // 文件接收服务端。
    server: 'http://up.qiniu.com',

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#picPicker',
    formData:formData,

    // 只允许选择图片文件。
    accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
    }
});
// 当有文件添加进来的时候
uploader.on( 'fileQueued', function( file ) {
   $('#fileList').html('');
    var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name + '</div>' +
            '</div>'
            ),
        $img = $li.find('img');


    // $list为容器jQuery实例
    $('#fileList').append( $li );

    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100
    uploader.makeThumb( file, function( error, src ) {
        if ( error ) {
            $img.replaceWith('<span>不能预览</span>');
            return;
        }

        $img.attr( 'src', src );
    }, 150, 200 );
});
// 文件上传过程中创建进度条实时显示。
uploader.on( 'uploadProgress', function( file, percentage ) {
    var $li = $( '#'+file.id ),
        $percent = $li.find('.progress span');

    // 避免重复创建
    if ( !$percent.length ) {
        $percent = $('<p class="progress"><span></span></p>')
                .appendTo( $li )
                .find('span');
    }

    $percent.css( 'width', percentage * 100 + '%' );
});

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
uploader.on( 'uploadSuccess', function( file,response ) {
    $( '#'+file.id ).addClass('upload-state-done');
        $('#cover_url').val(response.key).attr('readonly','readonly')

});

// 文件上传失败，显示上传出错。
uploader.on( 'uploadError', function( file ) {
    var $li = $( '#'+file.id ),
        $error = $li.find('div.error');

    // 避免重复创建
    if ( !$error.length ) {
        $error = $('<div class="error"></div>').appendTo( $li );
    }

    $error.text('上传失败');

uploader.reset();
  


});

// 完成上传完了，成功或者失败，先删除进度条。
uploader.on( 'uploadComplete', function( file ) {
    $( '#'+file.id ).find('.progress').remove();
});

uploader.on('error', function(handler) {
    if (handler == "Q_EXCEED_NUM_LIMIT") {
        alert("只能上传一张图片");
    }
});


//上传视频


var $vlist=$('#vlist');

var videoUploader = WebUploader.create({
    auto: true,

    chunked: true,
    // 文件接收服务端。
    server: 'http://up.qiniu.com',

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#video-picker',

    // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
    resize: false,
    formData:formData,
})

// 当有文件被添加进队列的时候
videoUploader.on( 'fileQueued', function( file ) {
    $vlist.append( '<div id="' + file.id + '" class="item">' +
        '<h4 class="info">' + file.name + '</h4>' +
        '<p class="state">等待上传...</p>' +
    '</div>' );
});



// 文件上传过程中创建进度条实时显示。
videoUploader.on( 'uploadProgress', function( file, percentage ) {
    var $li = $( '#'+file.id ),
        $percent = $li.find('.progress .progress-bar');

    // 避免重复创建
    if ( !$percent.length ) {
        $percent = $('<div class="progress progress-striped active">' +
          '<div class="progress-bar" role="progressbar" style="width: 0%">' +
          '</div>' +
        '</div>').appendTo( $li ).find('.progress-bar');
    }

    $li.find('p.state').text('上传中');

    $percent.css( 'width', percentage * 100 + '%' );
});



videoUploader.on( 'uploadSuccess', function( file,response) {
    $( '#'+file.id ).find('p.state').text('已上传');
    $('#video_url').val(response.key).attr('readonly','readonly')
});

videoUploader.on( 'uploadError', function( file ) {
    $( '#'+file.id ).find('p.state').text('上传出错');
});

videoUploader.on( 'uploadComplete', function( file ) {
    $( '#'+file.id ).find('.progress').fadeOut();
});


}




  
  
</script>