    <link rel="stylesheet" href="/css/index.min.css?9988">

    <div id="banner">
      <div class="cover"></div>
      <div class="middle"> 
        <h2>专业模特 原创视频</h2>
        <h3>高清图集视觉盛宴，在线视频 身临其境</h3>
      </div><a href="javascript:void(0)" class="more">注册账号 <i class="fa fa-angle-down fa-lg"></i></a>
    </div>
    <div id="video" class="bg-color container">
      <h2>推荐视频</h2>
      <div class="subtit"><span>每周更新2部视频，支持PC、PAD、各种移动终端播放。</span></div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"> <img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://img0.bdstatic.com/img/image/4c15cc0087ec7f5b700b49401d0e2a681418614198.jpg">
                <div class="time-line"><em class="r">4:13</em> <i class="fa fa-play-circle  fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="photo" class="container">
      <h2>写真图集</h2>
      <div class="subtit"><span>每周更新2部视频，支持PC、PAD、各种移动终端播放。</span></div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-pc-3 col-lg-2">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/xiezhen/cover/2013-09-05/34a032be07e1928d96c0dff7bb09c637.jpg">
                <div class="time-line"><em class="r">34张</em> <i class="fa fa-picture-o fa-lg"></i> </div>
              </div></a>
            <div class="txt">
              <h3> <a href="javascript:void(0)">NO.0083 </a></h3>
              <p>美国对冲基金--与国内的私募基金相比，美国对冲基金可以使用更为灵活的策略和投资工具</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="madou" class="container"> 
      <h2>我们的麻豆</h2>
      <div class="subtit"> <span>月色写真在诞生之初有幸得了到一些圈内麻豆的支持和关注</span></div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-pc-3 col-lg-3">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/madou/2014-05-28/3e86273fe4a8c35ddfa861ef8e06c52f.jpg">
                <div class="time-line"><em class="r">身高：170CM 年龄：24</em> <i class="fa fa-female fa-lg"></i> 璐璐</div>
              </div></a></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-pc-3 col-lg-3">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/madou/2014-05-28/3e86273fe4a8c35ddfa861ef8e06c52f.jpg">
                <div class="time-line"><em class="r">身高：170CM 年龄：24</em> <i class="fa fa-female fa-lg"></i> 璐璐</div>
              </div></a></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-pc-3 col-lg-3">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/madou/2014-05-28/3e86273fe4a8c35ddfa861ef8e06c52f.jpg">
                <div class="time-line"><em class="r">身高：170CM 年龄：24</em> <i class="fa fa-female fa-lg"></i> 璐璐</div>
              </div></a></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-pc-3 col-lg-3">
          <div class="thum"> <a href="javascript:void(0)">
              <div class="img-wapper"><img src="http://www.yuese.cc/fileuploads/madou/2014-05-28/3e86273fe4a8c35ddfa861ef8e06c52f.jpg">
                <div class="time-line"><em class="r">身高：170CM 年龄：24</em> <i class="fa fa-female fa-lg"></i> 璐璐</div>
              </div></a></div>
        </div>
      </div>
    </div>
    <div id="reg">
      <div class="container">
        <h2>加入会员</h2>
        <div class="subtit"> <span>成为会员只需一步，立即体验吧</span></div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-pc-3 col-lg-3 col-md-offset-2 col-pc-offset-2 col-lg-offset-2">
            <input type="text" name="mini_name" placeholder="电子邮箱" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-pc-3 col-lg-3">
            <input type="text" name="mini_name" placeholder="设置密码" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-pc-3 col-lg-3">
            <button class="reg btn btn-success btn-lg">马上开始体验</button>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-gradient"></div>