{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/css/index.min.css">
    <link rel="stylesheet" href="/css/justifiedGallery.min.css">

{{/extend}}

<div id="banner" class="banner">
    <ul>


        {{#if user}}

            <li style="background-image: url('http://www.bootcss.com/p/unslider/img/subway.jpg')">
                <div class="inner">
                    <h1>风影</h1>
                    <br>
                    <h4>分享精彩，实现价值</h4>
                    <br>

                    <a href="/create-photo" data-ga-category="Homepage Masthead" data-ga-action="Click Get Started"
                       class="reg button button-rounded button-caution">+发布作品</a>

                </div>
            </li>

        {{else}}

            <li style="background-image: url('http://www.bootcss.com/p/unslider/img/sunset.jpg')">

                <div class="inner">
                    <h1>风影</h1>
                    <br>
                    <h4>分享精彩，实现价值</h4>
                    <br>

                    <a href="/signup" data-ga-category="Homepage Masthead" data-ga-action="Click Get Started"
                       class="reg button button-rounded button-caution">立即加入</a>

                </div>

            </li>

        {{/if}}


    </ul>
</div>


<div class="tab_wrapper">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <!--{{#if user}}-->
            <!--<li role="presentation"><a href="#follow" onclick="showPicture(3)" aria-controls="follow" role="tab"-->
                                       <!--data-toggle="tab">我关注的图片</a>-->
            <!--</li>-->
        <!--{{/if}}-->
        <li role="presentation" class="active">
            <a href="#new_pic" onclick="showPicture('fresh')" aria-controls="new_pic" role="tab" data-toggle="tab">最新图片</a>
        </li>
        <li role="presentation"><a href="#hot_pic" onclick="showPicture('popular')" aria-controls="hot_pic" role="tab"
                                   data-toggle="tab">热门图片</a>
        </li>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content" id="pic-container">

    </div>
</div>



  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><h3 style="padding:15px">最新图文故事</h3>
      </li>
   
</ul>


<div class="tab-content contentFirst" id="aticleContainer">
    <ul class="pagelist-wrapper ">
        <my-component></my-component>
    </ul>

</div>






{{#if user}}

{{else}}
    <div id="reg">
        <div class="container">
            <h2>加入风影</h2>

            <div class="subtit"><span>成为会员只需一步，立即体验吧</span></div>
            <div class="row" align="center">
                <a href="/signup" class="pull-center reg button button-rounded button-caution button-large">马上开始体验</a>
            </div>
        </div>
    </div>

{{/if}}


<div class="navbar-gradient"></div>


{{#extend "customerScript"}}

    <script type="text/javascript" src="/js/jquery.justifiedGallery.min.js"></script>
    <script type="text/javascript" src="/lib/aticle_list.component.js"></script>

    <script type="text/javascript">

        var $picContainer = $('#pic-container');
        function showPicture(classify) {


            my.ajax({
                url: "/photo/list/classify",
                type: 'get',
                data: {classify: classify, pageNo: 1},
                success: function (list) {
                    var html = '';
                    html += '<div role="tabpanel" class="tab-pane active" id="new_pic"><div class="basicExample">';



                    for (var i = 0, length = list.length; i < length; i++) {

                        var randomWidth = parseInt(Math.random() * 400 + 300);
                        var item = list[i];
                        var userAvatar = item.userAvatar ? item.userAvatar : '{{avatar }}';
                        html += '<div class="album-wrapper jg-entry">';
                        html += '<div class="album-title">' + item.title + '</div>'
                        html += '<div class="album-number">' + item.piccnt + '张</div>';
                        html += '<a target="_blank" href="/photo/' + item._id + '"><img src="http://img.fengimage.com/' + item.piccover + '?imageView2/1/w/' + randomWidth + '/"/></a>';
                        html += '<div class="album-description">';
                        html += '<a class="belong-icon-wrapper" href="/userspace/' + item.author_id + '">';
                        html += '<img class="belong-icon" src="' + userAvatar + '" alt=""/></a>';
                        html += '<a class="a-txt belong-name" href="/userspace/' + item.author_id + '">' + item.userName + '</a>';
                        html += '</div>';
                        html += '</div>';
                    }

                    $picContainer.html(html);

                    $('.basicExample').justifiedGallery({
                        rowHeight: 350,
                        lastRow: 'nojustify',
                        margins: 10
                    });
                }
            });

        }
        showPicture('fresh');

        //获取最新图文

        // 创建根实例
        new Vue({
            el: '#aticleContainer'
        })

  </script>

    <script src="//unslider.com/unslider.js"></script>

    <script>
        $(function () {
            $('.banner').unslider();
        });

    </script>

{{/extend}}
