{{#extend "stylesheets"}}
  <link rel="stylesheet" href="css/index.min.css"/>
  <link rel="stylesheet" href="css/list.min.css"/>
  <link rel="stylesheet" href="/css/justifiedGallery.min.css?9987">
  <script type="text/javascript" src="/js/jquery.justifiedGallery.min.js?9999"></script>
  <style>
    .album-wrapper {
      position: relative;
    }

    .album-number {
      position: absolute;
      color: #fff;
      top: 10px;
      right: 10px;
      z-index: 2;

    }

    .album-description {
      position: absolute;
      width: 100%;
      bottom: 5px;
      vertical-align: middle;
    }

    .album-description a {
      float: left;
      display: block;
      text-decoration: none;
      color: #fff;
    }

    .album-description .a-txt {
      line-height: 30px;
    }

    .album-description .belong-name {
      margin-left: 5px;
    }

    .album-description .tuijian {
      float: right;
      margin-right: 5px;
    }

    .album-description a {
      text-decoration: none;
      color: #fff;
    }

    .album-description .belong-icon {
      height: 28px;
      width: 28px;
      border-radius: 50%;
    }

    .album-description .belong-icon-wrapper {
      margin-left: 5px;
    }

    .bg-w {
      background: #fff
    }
  </style>
{{/extend}}

<div class="container" id="{{currentCategory}}">

  <ul class="subNav clearfix">
  <li role="presentation" class="u-menu bg-w"><a href="javascript:;" onclick="reShowPicture('fresh')">最新</a></li>
          <li><a href="javascript:;" onclick="reShowPicture(null,'art')">风光</a></li>
        <li><a href="javascript:;" onclick="reShowPicture(null,'street')">街拍</a></li>
        <li><a href="javascript:;" onclick="reShowPicture(null,'travel')">人像</a></li>
        <li><a href="javascript:;" onclick="reShowPicture(null,'fashion')">时尚</a></li>
                <li><a href="javascript:;" onclick="reShowPicture(null,'private')">私房</a></li>

  
    <li class="btn-group pull-right ">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><strong id="showTitle">所有类别</strong> <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;" onclick="reShowPicture(null,'all')">热门</a></li>
        <li role="separator" class="divider"></li>
        
    <li class="u-menu"><a href="javascript:;" onclick="reShowPicture('popular')">本周热门</a></li>
      </ul>
    </li>
  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content contentFirst" id="pic-container">
  <div role="tabpanel" class="tab-pane active" id="new_pic">
    <div id="basicExample">
    </div>
  </div>
</div>
{{#extend "customerScript"}}
  <script type="text/javascript">
    my.showRecommend = {{showRecommend}} ;
    my.classify = null;
    my.categories = null;
    my.basicExample = $('#basicExample');
    my.pageNo = 1;
    my.$showTitle = $('#showTitle');
    my.$allMenu = $('.u-menu');
    //是否继续加载数据
    my.gono = true;

    $('#pic-container').css('min-height', $(window).height());

    $(function () {
      //下拉加载图片
      pullDownToLoadMore(function () {
        if (my.gono) {
          showPicture(null, null, true);
        }
      });

      //展示图片
      showPicture();
      $('.dropdown-menu li').click(function () {
        my.$showTitle.text($(this).text());
      });

      my.$allMenu.click(function () {
        my.$allMenu.removeClass('bg-w');
        $(this).addClass('bg-w');
      });

    });


    function reShowPicture(classify, categories) {
      my.gono = true;
      showPicture(classify, categories);
    }

    function showPicture(classify, categories, mark) {
      my.gono = false;
      if (classify) {
        my.classify = classify;
      }
      if (categories) {
        if (categories === 'all') {
          my.categories = null;
        } else {
          my.categories = categories;
        }
      }
      if (!mark) {
        my.pageNo = 1;
        my.basicExample.html('');
      }
      my.ajax({
        url: "/photo/list/classify",
        type: 'get',
        data: {classify: my.classify, categories: my.categories, pageNo: my.pageNo},
        success: function (list) {
          var html = '';
          my.pageNo++;
          my.gono = true;
          if (list.length == 0) {
            my.gono = false;
            return;
          }

          for (var i = 0, length = list.length; i < length; i++) {

            var randomWidth = parseInt(Math.random() * 400 + 300);
            var item = list[i];
            var userAvatar = item.userAvatar ? item.userAvatar : '{{avatar }}';
            html += '<div class="album-wrapper jg-entry">';
            html += '<div class="album-number">' + item.piccnt + '张</div>';
            html += '<a target="_blank" href="/photo/' + item._id + '"><img src="http://img.fengimage.com/' + item.piccover + '?imageView2/1/w/' + randomWidth + '/"/></a>';
            html += '<div class="album-description">';
            html += '<a class="belong-icon-wrapper" href="/userspace/' + item.author_id + '">';
            html += '<img class="belong-icon" src="' + userAvatar + '" alt=""/></a>';
            html += '<a class="a-txt belong-name" href="/userspace/' + item.author_id + '">' + item.userName + '</a>';

            if (my.showRecommend) {
              if (item.recommend) {
                html += '<a class="a-txt tuijian" href="javascript:;" data-id="' + item._id + '">已推荐</a>';
              } else {
                html += '<a class="a-txt tuijian" href="javascript:;" data-id="' + item._id + '">推荐</a>';
              }
            }
            html += '</div>';
            html += '</div>';
          }

          if (mark) {
            my.basicExample.append(html);
            my.basicExample.justifiedGallery('norewind');
          } else {
            my.basicExample.html(html);
            my.basicExample.justifiedGallery({
              rowHeight: 350,
              lastRow: 'nojustify',
              margins: 10
            });
          }

          tuijian();

        }
      });

    }

    function tuijian() {
      //推荐
      $('.tuijian').click(function () {
        var _this = $(this);
        var id = _this.data('id');
        alert(id);
        my.ajax({
          url: "/photo/list/recommend",
          type: 'get',
          data: {id: id},
          success: function (list) {
            _this.text('已推荐');
          }
        });
      });
    }

    function pullDownToLoadMore(callback) {
      var $win = $(window);
      var $doc = $(document);
      var totalheight = 0;
      var range = 50;
      var maxnum = 10000;
      var num = 1;
      $win.scroll(function () {
        totalheight = parseFloat($win.height()) + parseFloat($win.scrollTop());
        if ($doc.height() - range <= totalheight && num <= maxnum) {
          num++;
          if (typeof callback === 'function') {
            callback();
          }
        }
      });
    }

  </script>
{{/extend}}