<div class="container">
 
<br><br>

<div class="row">

<h1 class="text-center">搜索</h1>
<hr>


<form action="/searchdb" method="get">
<div class="input-group input-group-lg">
<span class="input-group-btn">
      </span>
      <input type="text" name="keyword" class="form-control" placeholder="请输入关键字...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">搜索</button>
      </span>
</div>
<br><br>
</form>
<div class="list-group hide" >
  <h2 class="list-group-item active">
   搜索结果：
  </h2>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

<nav class="hide">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
  </div>
</div>