{{#extend "stylesheets"}}
    <style>
        #sidebar li .active {
            background-color: gainsboro;
        }

        .walletContent {
            float: none;
            display: block;
        }

        .colFirst {
            font-size: 16px;
            font-weight: 500;
        }

        .colFirst span {
            font-size: 12px;
            color: #999999;
            padding-left: 10px;
        }

        .walletRight {
            line-height: 28px;
            box-shadow: 1px 1px 2px 1px #C0BEBF;
            background-color: #fff;
            padding: 10px 15px;
            border-radius: 4px;
            border-color: #ddd;
        }

        .walletRight div:last-child{
            font-size: 12px;
            color: #999999;
        }

        .money {
            font-size: 24px!important;
        }

        .walletRight a {
            text-decoration: none;
            font-size: 12px;
            padding: 2px 4px;
            color: #ffffff;
            background-color: #00a1de;
            border-radius: 2px;
        }

        .recharge {
            margin: 0 5px 0 10px;
        }

        .prompt {
            color: #9B9B9B;
            font-size: 12px;
            padding-left: 10px;
        }
        .walletContent {
           /* margin-bottom:  320px;*/
        }
    </style>
{{/extend}}
<div class="container contentFirst">
    <ol class="userInfoTop">
        <li><a href="/">主页</a><span class="divider"></span></li>
        <li class="active">个人中心</li>
    </ol>
    <div class="row">
        {{>uc_menu}}
        <div class="col-lg-10">
            <div class="walletContent col-md-8">
                <div class="row">
                    <div class="col-md-8 walletRight">
                        <div class="colFirst">账户余额<span class="money">{{formatMoney user.money}}</span>元
                            <a href="" class="recharge btn disabled">充值</a>
                            <a href="" class="btn disabled">提现</a><span class="prompt">当前账户余额不足</span></div>
                        <div>
                            每次提现最小额度为 ¥100.00, 每次提现收取 5% 手续费
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

