<style>
  .m_container {
    background: #fff;
    padding: 20px
  }

  .price {
    color: #f60;
    font-size: 18px;
  }
</style>
<div class="container contentFirst">
  <ol class="userInfoTop">
    <li><a href="/">主页</a><span class="divider"></span></li>
    <li class="active">个人中心</li>
  </ol>


  <div class="row">
    {{>uc_menu}}
    <div class="col-lg-10">
      <div class="m_container">
        <div class="alert alert-success">
          <h3>{{user.username}}
            <small>（287303540@qq.com）账户余额：{{user.score}}</small>
          </h3>
        </div>
        <h3>账户充值</h3>
        <hr>
        <div class="fillmoney">
          <form action="/uc/recharge/form">
            <div class="form-group">
              <input type="text" name="money" class="form-control input-lg" placeholder="请输入金额">
              <input type="hidden" name="type" id="pay_type">
            </div>
            <div class="form-group">
              <button class="btn btn-success" onclick="javascript:pay_type.value=0;">支付宝</button>
              <button class="btn btn-success" onclick="javascript:pay_type.value=1;">微信</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
