<link rel="stylesheet" href="/css/userspace.css?9988">
<link rel="stylesheet" href="/css/justifiedGallery.min.css?9987">
<script type="text/javascript" src="/js/jquery.justifiedGallery.min.js?9999"></script>
<div class="u_banner" style="background-image: url(images/banner.jpg)">
    <div class="u_logo">
        <img src="images/03.jpg" alt="">
    </div>
    <div class="u_badge">
        JIA YAO
    </div>
</div>
<div class="ptb10 text-right">
    <button type="button" class="btn btn-info min100">关注</button>
</div>
<div class="u_details">
    <h1>
Alessandro Di Cicco
</h1>
    <div class="short_bio" style="word-wrap: break-word;">
        <p><a href="#" rel="nofollow">FACEBOOK</a> | <a href="#" rel="nofollow">INSTAGRAM</a> | <a href="#" rel="nofollow">500px</a> | <a href="#" rel="nofollow">FLICKR</a></p>
    </div>
    <ul class="u_details_list">
        <li>
            <span>276,943</span> Affection
        </li>
        <li>
            <span>2,585,625</span> 次照片浏览
        </li>
        <li>
            <span>12,979</span> 名粉丝
        </li>
        <li>
            <span>313</span> 次关注
        </li>
        <li>
            CASTELFORTE, Latina, Italia
        </li>
    </ul>
</div>
<div class="tab_wrapper">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#new_pic" aria-controls="new_pic" role="tab" data-toggle="tab">图片 888</a></li>
        <li role="presentation"><a href="#hot_pic" aria-controls="hot_pic" role="tab" data-toggle="tab">关于</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="new_pic">
            <div class="basicExample">
                <a href="/images/01.jpg">
                    <img alt="caption for image 1" src="/images/01.jpg" />
                </a>
                <a href="/images/02.jpg">
                    <img alt="caption for image 2" src="/images/02.jpg" />
                </a>
                <a href="/images/03.jpg">
                    <img alt="caption for image 2" src="/images/03.jpg" />
                </a>
                <a href="/images/04.jpg">
                    <img alt="caption for image 2" src="/images/04.jpg" />
                </a>
                <a href="/images/05.jpg">
                    <img alt="caption for image 2" src="/images/05.jpg" />
                </a>
                <a href="/images/06.jpg">
                    <img alt="caption for image 2" src="/images/06.jpg" />
                </a>
                <a href="/images/07.jpg">
                    <img alt="caption for image 2" src="/images/07.jpg" />
                </a>
                <a href="/images/08.jpg">
                    <img alt="caption for image 2" src="/images/08.jpg" />
                </a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="hot_pic">
            <div class="about_body">
                <div class="small_wrapper">
                    <section class="bio">
                        <h3>Biography</h3>
                        <p><a href="https://www.facebook.com/alessandro.dicicco.9">FACEBOOK</a> | <a href="https://instagram.com/alediciccofoto">INSTAGRAM</a> | <a href="https://500px.com/Aledicicco">500px</a> | <a href="https://www.flickr.com/photos/111850376@N07/">FLICKR</a></p>
                    </section>
                    <section class="gear">
                        <h3>Gear</h3>
                        <div class="equipment_group">
                            <h3 class="light"><span class="translation_missing" title="translation missing: zh-CN.common.camera">Camera</span></h3>
                            <ul class="camera">
                                <li>Canon 5d mark III</li>
                            </ul>
                        </div>
                        <div class="equipment_group">
                            <h3 class="light"><span class="translation_missing" title="translation missing: zh-CN.common.lens">Lens</span></h3>
                            <ul class="lens">
                                <li>Canon 24-105 L</li>
                                <li>Canon 85mm 1.2 L</li>
                                <li>Tokina 11-16</li>
                                <li>sigma 35 1.4 art</li>
                                <li>Canon 70-200 2.8 L</li>
                            </ul>
                        </div>
                    </section>
                    <section class="stats">
                        <h3>Stats</h3>
                        <div class="stat_block">
                            <h3 class="light">热度</h3><span class="number">277.0K</span></div>
                        <div class="stat_block">
                            <h3 class="light">浏览</h3><span class="number">2.6M</span></div>
                        <div class="stat_block">
                            <h3 class="light">收藏</h3><span class="number">103.4K</span></div>
                        <div class="stat_block">
                            <h3 class="light">喜欢</h3><span class="number">274.7K</span></div>
                        <div class="stat_block">
                            <h3 class="light"><span class="translation_missing" title="translation missing: zh-CN.common.comments">Comments</span></h3><span class="number">8,762</span></div>
                    </section>
                    <section class="member_for">
                        <p>March 10, 2015 起成为会员</p>
                    </section>
                </div>
                <section class="map show">
                    <div id="user_map"></div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="navbar-gradient"></div>
<script type="text/javascript">
$('.basicExample').justifiedGallery({
    rowHeight: 200,
    lastRow: 'nojustify',
    margins: 3
});
</script>
