html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
li,
pre,
fieldset,
legend,
button,
input,
textarea,
form,
th,
td {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", "微软雅黑";
    color: #333;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 14px;
    font-weight: normal;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nowrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tip-single {
    position: relative;
}

.tip-single:after {
    content: attr(data-msg);
    position: absolute;
    top: -50px;
    left: 0;
    border: 1px solid #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    white-space: nowrap;
}

.tip-single:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -12px;
    border: 12px solid transparent;
    border-top-color: #000;
}

.tip-wrap {
    position: relative;
}

.tip {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    padding: 10px;
    background-color: #b3b3b3;
}

.tip:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    border: 12px solid transparent;
    border-top-color: #000;
}

.m-comment {
    padding: 10px;
}

.load-comment-more {
    line-height: 25px;
    margin-top: 20px;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

.m-comment .m-cmt-item {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    overflow: hidden;
}

.m-comment .m-cmt-item .icon,
.m-comment .m-cmt-item .cmt-cnt {
    float: left;
}

.m-comment .m-cmt-item .icon {
    width: 50px;
}

.m-comment .m-cmt-item .icon img {
    border-radius: 50%;
}

.m-comment .m-cmt-item .cmt-cnt {
    width: 630px;
    padding: 0 10px;
    font-size: 14px;
}

.m-comment .m-cmt-item .cmt-cnt .top {
    margin-bottom: 5px;
    margin-top: 5px;
}

.m-comment .m-cmt-item .cmt-cnt .top .time {
    float: right;
}

.m-comment textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    margin-top: 25px;
}

.g-mainwraper {
    letter-spacing: -4px;
    margin: 0 auto;
    width: 100%;
    word-spacing: -0.43em;
}

.darkbg {
    background: #111
}

.price {
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    color: #d6d6d6;
    vertical-align: middle;
}

.photo-actions-section {
    background: #222;
    padding: 10px 20px;
    margin-top: 20px;
    color: #777
}

#author {
    overflow: hidden;
    zoom: 1;
    padding: 20px 0;
}

#author .headpic {
    float: left;
    width: 50px;
    height: 50px;
}

#author .headpic img {
    border-radius: 100%;
}

#author .title {
    margin-left: 60px;
    font-size: 14px;
}

#author > .clearfix > .flow {
    margin-left: 60px;
    text-align: left;
}

#author .btn {
    margin-top: 5px;
    padding: 2px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#comment {
    padding-top: 20px;
    font-size: 14px !important;
}

#comment .info {
    white-space: normal;
    word-break: break-all;
}

#comment .info strong {
    font-weight: bold;
    padding-right: 5px;
    color: #999;
}

#comment .date {
    padding-top: 5px;
    color: #666;
    font-size: 11px;
}

#commentBtn {
    cursor: pointer;
}

textarea {
    overflow: hidden;
}

#photos {
    margin-bottom: 40px
}

#photos .main-area {
    background-color: #fff;
    letter-spacing: -4px;
}

#photos img {
    display: block;
    max-width: 100%;
    margin-top: 20px
}

.photo-header {
    color: #333;
    margin-top: 20px;
    overflow: hidden;
}

.photo-header h1 {
    font: 24px/1.2 \5FAE\8F6F\96C5\9ED1, Arial, \5B8B\4F53;
}

.photo-header .user-icon {
    float: left;
}

.photo-header .user-icon img {
    height: 100px;
    width: 100px;
}

.photo-header .photo-base-info {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.photo-header .photo-mark, .photo-header .photo-author {
    margin-top: 10px;
}

.photo-header .photo-mark label {
    font-weight: normal;
    margin-right: 10px;
}

.photo-header .photo-author label {
    margin-left: 10px;
}

.btn.btn-follow {
    border-bottom: 1px solid #1FABE7;
    color: #fff;
    background-color: #1687cb;
}

.btn.btn-follow:hover {
    border-bottom: 1px solid #1687cb;
    color: #fff;
    background-color: #1FABE7;
}

.btn.btn-reward {
    border-bottom: 1px solid #C5C5C5;
    color: #333;
    background-color: #ddd;
}

.btn.btn-reward:hover {
    border-bottom: 1px solid #ddd;
    color: #333;
    background-color: #C5C5C5;
}

.photo-discrib {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

