<h1>用户登录</h1>

{{success}}

{{error}}


<form method="post" action="/login">

	<p><input type="text" name="email" placeholder="邮箱" /></p>
	<p><input type="password" name="password" placeholder="密码"  /></p>
	<p><button>登录</button>
	</p>

</form>