

<style>
  .login-sns {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
  }

  .login-sns .login-list {
    padding-top: 10px;
  }

  .login-sns li {
    display: inline-block;
  }

  li {
    line-height: 20px;
  }

  .login-sns li > a {
    width: 44px;
    height: 44px;
    display: inline-block;
    border-radius: 50%;
    line-height: 44px;
    font-size: 20px;
    background: #eeeeee;
    text-align: center;
  }

  a {
    color: #555555;
    text-decoration: none;
  }

  .qq a:hover {
    background-color: #15a7f0;
    color: #fff;
  }
  .wechat  a:hover {
    background-color: #49be38;
    color: #fff;
  }

  #footer,.navbar-gradient{
    display: none;
  }

  body{
    background: url(https://drscdn.500px.org/photo/144702359/m%3D2048/139f0f1fc44f5d81fb235834a121fe68) center top no-repeat;
    background-size: cover;
}

  
</style>


<div class="container" >
	<br><br>
<div class="row">
    <div class="col-md-12 col-lg-4 col-lg-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">注册新用户</h3>
                    </div>
                    <div class="panel-body">
                        <form name="loginform" action="/signup" method="post" role="form">
                            <fieldset>
                            	 <div class="form-group">
                                <input type="text" autofocus="" required="" name="nickname" placeholder="昵称" class="form-control input-lg">
                                </div>
                                <div class="form-group">
                                    <input type="text" autofocus="" required="" name="email" placeholder="邮箱" class="form-control input-lg">
                                </div>
                                <div class="form-group">
                                    <input type="password" value="" name="password" placeholder="密码" class="form-control input-lg">
                                </div>

								<input type="submit" value="注 册" name="login" class="btn btn-lg btn-success btn-block">
                            </fieldset>
                        </form>
						
						
						
                    </div>

                              <div class="login-sns">
            <p>您还可以通过以下方式直接登录</p>
            <ul class="login-list">
              <!--<li class="weibo">
                <a href="/users/auth/weibo"><i class="fa fa-weibo"></i></a>
              </li>-->
              <li class="qq">
                <a href="/qq/login"><i class="fa fa-qq"></i></a> 
              </li>
              <li class="wechat">
                <a href="/wechat/login"><i class="fa fa-wechat"></i></a> 
              </li>
            </ul>
          </div>


                </div>
            </div>
        </div>

</div>






