<div class="clearfix">
<div class="headpic"><img src="http://7xobdo.com1.z0.glb.clouddn.com/{{avatar}}?imageView2/1/w/50/" ></div>
<div class="title"><a href="/space/{{_id}}">{{nickname}}</a></div>
<div class="flow"> <button id="{{_id}}" class="btn btn-primary btn-mn flow">关注</button></div>
</div>


